@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

button {
  cursor: pointer;
}

.link {
  color: #fff;
}
.link:hover {
  opacity: 0.7;
}

.riveComponent {
  width: 600px;
  height: 600px;
}

.Header {
  background: url("./assets/images/bg.png") no-repeat center 0;
  min-height: 150px;
  display: flex;
  justify-content: center;
}

.TopNav {
  width: 1100px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  background: #E50914;
  border: 1px solid #E50914;
  padding: 7px 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.btn:hover {
  background: #ca121b;
}
.btn:active {
  background: #b30912;
}
.btn > img {
  margin-right: 10px;
}
.btn.secondary {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #5A5A5A;
}
.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.07);
}
.btn.secondary:active {
  background: rgba(255, 255, 255, 0.1);
}

.HireBtns {
  display: inline-flex;
}
.HireBtns .btn:not(:last-child) {
  margin-right: 10px;
}

.MotionTech {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}
.MotionTech article {
  flex: 1;
}
.MotionTech h1 {
  font-size: 2.5em;
  font-weight: 900;
}
.MotionTech p {
  margin: 30px 0 60px;
  letter-spacing: 0.5px;
  line-height: 1.4em;
}

.Movies {
  height: 100vh;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  border-top: 6px solid #08070a;
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
}
.Movies:not(.watching) {
  padding-top: calc((100vh - 600px) / 2);
}
.Movies.show > article {
  height: 600px;
}
.Movies.show > article .thumb {
  height: 600px;
}
.Movies.loaded > article {
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
}
.Movies.watching > article.watching {
  height: 100vh;
  width: 100vw;
}
.Movies.watching > article.watching video {
  width: 125vw;
}
.Movies.watching > article.watching .thumb, .Movies.watching > article.watching h2 {
  opacity: 0;
}
.Movies.watching > article:not(.watching) {
  height: 100vh;
  width: 0;
  border-width: 0;
  opacity: 0;
}
.Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover {
  width: 500px;
}
.Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .thumb, .Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover h2 {
  opacity: 0;
}
.Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .Details {
  width: 100%;
}
.Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .Details .special {
  left: 358px;
}
.Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .Details h3, .Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .Details .meta, .Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .Details .actions {
  opacity: 1;
}
.Movies:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover .Details .info {
  background: rgba(0, 0, 0, 0.8);
}
.Movies .closeMovie {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  background: none;
  border: none;
}
.Movies > article {
  width: 120px;
  height: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 2s cubic-bezier(0.61, 0, 0.04, 1);
  cursor: pointer;
}
.Movies > article:not(:last-child) {
  border-right: 3px solid #000;
}
.Movies > article .thumb, .Movies > article h2, .Movies > article video {
  position: absolute;
}
.Movies > article h2 {
  transition: 0.7s ease;
  font-size: 0.9em;
  opacity: 0.8;
  font-weight: 500;
  text-align: center;
  width: 120px;
  box-sizing: border-box;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.Movies > article .thumb {
  opacity: 1;
  transition: 2s cubic-bezier(0.61, 0, 0.04, 1);
  height: 1500px;
}
.Movies > article video {
  transition: 0.9s cubic-bezier(0.61, 0, 0.04, 1);
  width: 100vw;
}

.special {
  background: #E50914;
  position: absolute;
  bottom: 20px;
  left: 0px;
  z-index: 3;
  font-weight: 500;
  font-size: 0.6em;
  border-radius: 3px;
  justify-content: center;
  display: flex;
  padding: 4px 7px;
  box-sizing: border-box;
  width: 82px;
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
}

.Details {
  position: absolute;
  inset: 0;
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 340px;
}
.Details .meta, .Details .actions {
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
  opacity: 0;
}
.Details h3 {
  font-weight: 700;
  font-size: 3em;
  padding: 40px 30% 40px 40px;
  margin: 0;
  opacity: 0;
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
  width: 300px;
}
.Details .info {
  position: relative;
  background: rgba(0, 0, 0, 0);
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  transition: 0.7s cubic-bezier(0.61, 0, 0.04, 1);
}
.Details .actions {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Details .actions img {
  width: 26px;
}
.Details .actions img:hover {
  opacity: 0.7;
}
.Details .actions img:not(:last-child) {
  margin-right: 7px;
}
.Details .meta {
  font-size: 0.9em;
}
.Details .meta .recommended {
  font-weight: 700;
  color: #43C563;
  margin-right: 10px;
}
.Details .meta > div {
  display: flex;
  align-items: center;
}
.Details .meta .adjectives {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.Details .meta .adjectives span {
  display: flex;
  align-items: center;
  font-weight: 500;
  opacity: 0.7;
}
.Details .meta .adjectives span:not(:last-child):after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: rgba(216, 216, 216, 0.4235294118);
  margin: 0 10px;
}

.jce {
  background: url("./assets/svg/jce.svg") center center no-repeat;
  background-size: 600px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */