@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

//Theme
$nflx: #E50914;
$nflxHover: #ca121b;
$nflxActive: #b30912;
$recommended: #43C563;


//Globals
$contentWidth: 1100px;
$txt: #fff;
$bgColor: #000;
$motionCurve: cubic-bezier(0.61, 0, 0.04, 1);

//Sections
$sectionBorderColor: #08070a;
$sectionBorderWidth: 6px;
$movieHeight: 600px;
$videoOpen: 500px;

//Typography
$fontFamily: "Roboto", sans-serif;
$fontSize: 17px;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$heavy: 900;

//Animation
$riveArtboardWidth:600px;

//Buttons
$secondaryBtnStroke: #5A5A5A;
$secondaryBtnBG: rgba(255,255,255,0);
$secondaryBtnHover: rgba(255,255,255,.07);
$secondaryBtnActive: rgba(255,255,255,.1);
$btnRadius: 5px;
$btnSpacing: 10px;

body {
    margin: 0;
    background: $bgColor;
    color: $txt;
    font-family: $fontFamily;
    font-weight: $light;
    font-size: $fontSize;
}

button {cursor: pointer}

.link {
    color: $txt;
    &:hover{ opacity: .7 }
}

.riveComponent {
    width: $riveArtboardWidth;
    height: $riveArtboardWidth;
}

.Header {
    background: url("./assets/images/bg.png") no-repeat center 0;
    min-height: 150px;
    display: flex;
    justify-content: center;
}

.TopNav {
    width: $contentWidth;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: $medium;
    color: $txt;
    background: $nflx;
    border: 1px solid $nflx;
    padding: 7px 17px;
    border-radius: $btnRadius;
    display: flex;
    align-items: center;
    font-size: .9em;
    &:hover{ background: $nflxHover}
    &:active{ background: $nflxActive}
    > img { margin-right: $btnSpacing}
    &.secondary{
        background: $secondaryBtnBG;
        border: 1px solid $secondaryBtnStroke;
        &:hover{ background: $secondaryBtnHover}
        &:active{ background:$secondaryBtnActive}
    }
}


.HireBtns {
    display: inline-flex;
    .btn:not(:last-child){ margin-right: $btnSpacing}
}

.MotionTech {
    width: $contentWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    article{ flex:1 }
    h1 {
        font-size: 2.5em;
        font-weight: $heavy;
    }
    p {
        margin: 30px 0 60px;
        letter-spacing: .5px;
        line-height: 1.4em;
    }
}

.Movies {
    height: 100vh;
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    border-top: $sectionBorderWidth solid $sectionBorderColor;
    transition: .7s $motionCurve;

    &:not(.watching){ padding-top: calc((100vh - $movieHeight) / 2) }
    &.show  > article {
        height: $movieHeight;
        .thumb { height: 600px}
    }
    &.loaded > article { transition: .7s $motionCurve }

    &.watching {
        > article {
            &.watching {
                height: 100vh;
                width: 100vw;
                video {
                    width: 125vw;
                }
                .thumb,h2{
                    opacity: 0;
                }
            }
            &:not(.watching) {
                height: 100vh;
                width: 0;
                border-width: 0;
                opacity: 0;
            }
        }
    }
    &:not(.watching):not(.loading) article:not(.shrunk):not(.active):hover{
        width: $videoOpen;
        .thumb,h2{opacity: 0}
        .Details {
            width: 100%;
            .special { left: calc($videoOpen - 142px) }
            h3,.meta,.actions { opacity: 1 }
            .info{background: rgba(0,0,0,.8)}
        }
    }
    .closeMovie {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        background: none;
        border: none;
    }
    > article {
        width: 120px;
        height: 0;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        transition: 2s $motionCurve;
        cursor: pointer;
        &:not(:last-child){border-right: 3px solid $bgColor}
        .thumb, h2, video{ position: absolute }
        h2 {
            transition: .7s ease;
            font-size: .9em;
            opacity: .8;
            font-weight: $medium;
            text-align: center;
            width: 120px;
            box-sizing: border-box;
            padding: 20px;
            letter-spacing: 1px;
            line-height: 1.5em;
        }
        .thumb {
            opacity: 1;
            transition: 2s  $motionCurve;
            height: 1500px;
        }
        video {
            transition: .9s $motionCurve;
            width: 100vw;
        }
    }
}

.special {
    background: $nflx;
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 3;
    font-weight: $medium;
    font-size: .6em;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    padding: 4px 7px;
    box-sizing: border-box;
    width: 82px;
    transition: .7s $motionCurve;
}

.Details {
    position: absolute;
    inset: 0;
    transition: .7s $motionCurve;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 340px;
    
    .meta,.actions {
        transition: .7s $motionCurve;
        opacity: 0;
    }

    h3 {
        font-weight: $bold;
        font-size: 3em;
        padding: 40px 30% 40px 40px;
        margin: 0;
        opacity: 0;
        transition: .7s $motionCurve;
        width: 300px;
    }
    .info{
        position: relative;
        background: rgba(0,0,0,0);
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
        transition: .7s $motionCurve;
    }
    .actions{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        img {
            width: 26px;
            &:hover{ opacity: .7}
            &:not(:last-child){ margin-right: 7px}
        }
    }
    .meta {
        font-size: .9em;
        .recommended {
            font-weight: $bold;
            color: $recommended;
            margin-right: 10px;
        }
        
        > div {
            display: flex;
            align-items: center;
        }
        .adjectives {
            display: flex;
            align-items: center;
            margin-top: 15px;
            span {
                display: flex;
                align-items: center;
                font-weight: $medium;
                opacity: .7;;
                &:not(:last-child):after {
                    content:"";
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 10px;
                    background: #d8d8d86c;
                    margin: 0 10px;
                }
            }
        }
    }
}

.jce {
    background: url("./assets/svg/jce.svg") center center no-repeat;
    background-size: 600px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}