@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

//Theme
$nflx: #E50914;
$nflxHover: #ca121b;
$nflxActive: #b30912;


//Globals
$contentWidth: 1000px;
$txt: #fff;
$bgColor: #000;
$motionCurve: cubic-bezier(0.82, 0.01, 0.01, 1);

//Sections
$sectionBorderColor: #0E0D11;
$sectionBorderWidth: 6px;

//Typography
$fontFamily: "Roboto", sans-serif;
$fontSize: 17px;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$heavy: 900;

//Animation
$riveArtboardWidth:500px;

//Buttons
$secondaryBtnStroke: #5A5A5A;
$secondaryBtnBG: rgba(255,255,255,0);
$secondaryBtnHover: rgba(255,255,255,.07);
$secondaryBtnActive: rgba(255,255,255,.1);
$btnRadius: 5px;
$btnSpacing: 10px;

body {
    margin: 0;
    background: $bgColor;
    color: $txt;
    font-family: $fontFamily;
    font-weight: $light;
    font-size: $fontSize;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &.noScroll{ overflow: hidden }
}

button {cursor: pointer}

.link {
    color: $txt;
    &:hover{ opacity: .7 }
}

.riveComponent {
    width: $riveArtboardWidth;
    height: $riveArtboardWidth;
}

.Header {
    background: url("./assets/images/bg.png") no-repeat center 0;
    min-height: 150px;
    display: flex;
    justify-content: center;
}

.TopNav {
    width: $contentWidth;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: $medium;
    color: $txt;
    background: $nflx;
    border: 1px solid $nflx;
    padding: 7px 17px;
    border-radius: $btnRadius;
    display: flex;
    align-items: center;
    font-size: .9em;
    &:hover{ background: $nflxHover}
    &:active{ background: $nflxActive}
    > img { margin-right: $btnSpacing}
    &.secondary{
        background: $secondaryBtnBG;
        border: 1px solid $secondaryBtnStroke;
        &:hover{ background: $secondaryBtnHover}
        &:active{ background:$secondaryBtnActive}
    }
}


.HireBtns {
    display: inline-flex;
    .btn:not(:last-child){ margin-right: $btnSpacing}
}

.MotionTech {
    width: $contentWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    article{ flex:1 }
    h1 {
        font-size: 2.5em;
        font-weight: $heavy;
    }
    p {
        margin: 30px 0 60px;
        letter-spacing: .5px;
        line-height: 1.4em;
    }
}

.Movies {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    border-top: $sectionBorderWidth solid $sectionBorderColor;
    scroll-snap-align: start;

    &.watching {
        > article {
            &.watching {
                height: 100vh;
                width: 100vw;
                video {
                    width: 125vw;
                }
                img,h2{
                    opacity: 0;
                }
            }
            &:not(.watching) {
                height: 100vh;
                width: 0;
                border-width: 0;
                opacity: 0;
            }
        }
    }
    &:not(.watching) article:not(.shrunk):not(.active):hover{
        width: 500px;
        img,h2{opacity: 0}
    }
    .closeMovie {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        background: none;
        border: none;
    }
    > article {
        width: 120px;
        height: 600px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        transition: .9s $motionCurve;
        cursor: pointer;
        &:not(:last-child){border-right: 3px solid $bgColor}
        img, h2, video{ position: absolute }
        h2 {
            transition: .7s ease;
            font-size: .9em;
            opacity: .8;
            font-weight: $regular;
            text-align: center;
            width: 120px;
            box-sizing: border-box;
            padding: 20px;
            letter-spacing: 1px;
            line-height: 1.5em;
        }
        img {
            opacity: 1;
            transition: 1.5s ease;
            height: 600px;
            filter: brightness(.6);
        }
        video {
            transition: .9s $motionCurve;
            width: 100vw;
        }
    }
}